footer {
  padding-top: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard-key {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(0, 0, 0, 0.2);
  width: 60px;
  height: 60px;
  margin: 0 5px 10px 0;
}

.keyboard-key {
  width: 60px;
  height: 60px;
}
