header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  padding: 10px 0 20px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  margin-bottom: 30px;
}

@keyframes gameend {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1.5) rotateX("angle");
  }
}
.gameover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40vh;
  left: 35vw;
  background-color: white;
  border: 1px solid black;
  padding: 20px 40px 20px 40px;
  font-size: 20px;
  font-weight: bold;
  display: none;
  animation: gameend 1s;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(0, 0, 0, 0.2);
  width: 60px;
  height: 60px;
}
